<%= image_tag @photgram.image.url(:medium) %>
<p>
  <strong>Description:</strong>
  <%= @photgram.description %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @photgram.image %>
</p>

<%= link_to 'Edit', edit_photgram_path(@photgram) %> |
<%= link_to 'Back', photgrams_path %>
