<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @photgram.description %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @photgram.picture %>
</p>

<%= link_to 'Edit', edit_photgram_path(@photgram) %> |
<%= link_to 'Back', photgrams_path %>
