<div class="coantiner text-center">
	<%= image_tag @photgram.image.url(:medium), :style => "width:220px; height:230px; border-radius:5%;" %>


</div>

	<%if @photgram.user == current_user  %>
	<%= link_to 'Edit', edit_photgram_path(@photgram), :class => "btn btn-warning" %> |
	<%end%>
	<%= link_to 'Back', photgrams_path, :class => "btn btn-info"  %>

<div class="jumbotron">
	<p style="margin:15px auto;"
  <strong>Comment:</strong>
  <%= @photgram.description %>
</p>
</div>
	</div>
	<%= form_for @photgram, html: { multipart: true } do |f| %>
		<%= f.label :Comment %><br>
	  <%= f.text_area :description, id: "textarea", :'maxlength' => "45" %>
	  <div class="actions">
    <%= f.submit class: 'btn btn-success' %> 
  </div>
	<%end%>
</div>